<footer class="site-footer h-card">


    <data class="u-url" href="/"></data>

    <div class="wrapper">

        <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2em">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="codingsteve" data-color="#FFDD00" data-emoji="💡" data-font="Bree" data-text="Help Keep This Site Running" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
        </div>

        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p class="feed-subscribe">
                    <a href="http://localhost:4000/feed.xml">
                        <svg class="svg-icon orange">
                            <use xlink:href="/assets/minima-social-icons.svg#rss"></use>
                        </svg>
                        <span>Subscribe</span>
                    </a>
                </p>
            </div>
            <div class="footer-col">
                <p>My first blog, the place where I plan on writing some things down. At the very least, it&#39;s an
                    outlet for writing about tech and things I find interesting!</p>
            </div>
        </div>

        <div class="social-links">
            <ul class="social-media-list"></ul>
        </div>

    </div>

</footer>