<!-- // TODO  figure out why this isn't working -->
<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2em">
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="codingsteve" data-color="#FFDD00" data-emoji="💡" data-font="Bree" data-text="Help Keep This Site Running" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
</div>