<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9553425410079173"
     crossorigin="anonymous"></script>

<div class="no-print">
    {%- include header.html -%}
</div>

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

<div class="no-print">
    {%- include footer.html -%}
</div>
</body>

</html>