<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9553425410079173"
     crossorigin="anonymous"></script>
     <script async src="https://fundingchoicesmessages.google.com/i/pub-9553425410079173?ers=1" nonce="CFSeo9hykKpBUoV3bva02A"></script><script nonce="CFSeo9hykKpBUoV3bva02A">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>

<div class="no-print">
    {%- include header.html -%}
</div>

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

<div class="no-print">
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2em">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="codingsteve" data-color="#FFDD00" data-emoji="💡" data-font="Bree" data-text="Keep This Site Running" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
    </div>
    {%- include custom_footer.html -%}
</div>
</body>

</html>